@import './\ _libs.scss\ ';
@import './desktop/main-desktop.css';
@import './mobile/main-mobile.css';

$dark-text: #0c0c0c;

* {
  font-family: 'Montserrat', sans-serif;
  color: $dark-text;
}

h1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.text,
.btn {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.link,
link:visited {
  text-decoration: none;
  color: $dark-text;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

.btn {
  border-radius: 16px;
  padding: 14px 24px;
  border: none;
  cursor: pointer;
}
