@import './\ _libs.scss\ ';
@import './desktop/main-desktop.css';
@import './mobile/main-mobile.css';

$base-decor-color: #3922c5;
$light-text: #494949;
$dark-text: #0c0c0c;
$back-background: #d9d9d9;
