$base-decor-color: #3922c5;
$light-text: #494949;
$dark-text: #0c0c0c;
$back-background: #d9d9d9;

body {
  background-color: #f4f4f4;
}

.mobile__bikes-menu_link {
  display: none;
}

.bikes {
  width: 846px;
  margin: auto;
  box-sizing: border-box;

  &_form {
    background-color: #fff;
    border-radius: 0px 20px 20px 20px;
    padding: 40px 60px;
    overflow: hidden;
  }
}

.bikes-menu {
  display: flex;
  padding-left: 0;
  margin: 0;

  &_item {
    list-style: none;
    padding: 20px 24px;
    background-color: $back-background;
    border-radius: 20px 20px 0px 0px;
  }

  .active,
  .active > .link {
    color: $base-decor-color;
    background-color: #fff;
  }
}

.bike {
  display: none;

  &.active {
    display: block;
  }

  &_main {
    display: grid;
    grid-template-areas:
      'img title'
      'img text1'
      'img text2';
    column-gap: 70px;
    row-gap: 16px;
    margin-left: -128px;
    margin-bottom: 40px;
  }

  &_img {
    grid-area: img;
    padding-top: 20px;
  }

  &_title {
    overflow-wrap: break-word;
    grid-area: title;
  }

  &_description {
    &:first-of-type {
      grid-area: text1;
    }

    &:last-of-type {
      grid-area: text2;
    }
  }
}

hr {
  border: 0.5px solid $back-background;
  margin-bottom: 40px;
}

.red {
  background-color: lightsalmon;
}

.features {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  margin-bottom: 40px;
  padding-left: 20px;

  &_item {
    width: 49%;
    padding-left: 5px;
  }

  &_input {
    width: 351px;
    height: 52px;
    border: 1px solid $back-background;
    border-radius: 16px;
    padding-left: 16px;
    margin-right: 24px;
    margin-bottom: 40px;

    &:focus {
      border-color: $base-decor-color;
      outline: none;
    }
  }

  &_btn {
    background-color: $base-decor-color;
    color: #fff;

    &:hover {
      background-color: darken($base-decor-color, 10%);
    }

    &:active {
      background-color: darken($base-decor-color, 20%);
    }
  }

  &__icons {
    list-style: url('../../img/icon-bike.svg');
  }
}

.features__icons > .features_item {
  padding-left: 11px;
  width: 48%;
}

.submit-wrapper {
  padding: 30px 36px;
  display: flex;
  box-shadow: 0px 10px 40px rgba(12, 12, 12, 0.1);
  border-radius: 20px;
}

.submit_btn {
  background-color: $base-decor-color;
  color: #fff;
  margin-right: 34px;

  &:hover {
    background-color: darken($base-decor-color, 10%);
  }

  &:active {
    background-color: darken($base-decor-color, 20%);
  }
}

.cansel_btn {
  background-color: #fff;
  color: $dark-text;

  &:hover {
    color: darken($base-decor-color, 10%);
  }

  &:active {
    color: darken($base-decor-color, 20%);
  }
}
